// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.page,
.post {
  margin-bottom: 4em;
  margin-top: 4em;
  overflow: hidden;
  .column.post &{
    margin-top: 0;
    img{
      margin: 3rem 0;
    }
  }
  li + li {
    margin-top: .25rem;
  }
}

// Blog post or page title
.page-title,
.post-title,
.post-title a {
  color: #303030;
}
.page-title,
.post-title {
  margin-top: 0;
}

// Meta data line below post title
.post-date {
  display: block;
  color: $gray-6;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.read-more{
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
}

.first-image{
  float: left;
  margin-right: 20px;
  max-width: 180px;
  margin-top: 8px;
}

.entry-content{
  padding-left: 3rem;
  padding-right: 3rem;
}

.home article.post p{
  margin-bottom: 0;
  color: $gray-7;
}