<!DOCTYPE html>
<html lang="en">
  <!-- Design inspired : https://dribbble.com/shots/2047524-V5-0-Website-Redesign -->
  {% include head.html %}

  <body>

    {% assign pageLayout = page.layout %}

    <div class="wrapper{% if page.url == "/" %} home{% endif %}">
      <div class="column">
          {% if pageLayout == 'post'%}<a href="/" class="single-post"><img src="{{ site.url }}/images/home.png" alt=""></a>{% endif %}
          <div style="background-image: url('{{ site.url }}/images/hf.jpg')" class="home-image"></div>
          <div class="about">
            <h1>Lorem Ipsum</h1>
            <small>Lorem ipsum</small>
          </div>
      </div>

      <div class="column {{pageLayout}}">
        {% if post.title %}
          <h1 class="entry-title">
            <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
          </h1>      
        {% endif %}
        <div class="entry-content">
          {{ content }}
        </div>
      </div>
    </div>
    
  </body>
</html>
